<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar">
    <ul class="navbar-nav">
        <li class="navbar-text">{{ user.username }}</li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
        {% endif %}
    </ul>
</nav>

<!-- Content of the specific page goes here -->
{% block content %}{% endblock %}

</body>
</html>
